.upload-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

button {
    min-width: fit-content;
}

.file-drop-zone {
    padding: 0px;
    align-items: left;
    justify-content: left;
    /* align-items: center; */
}

.files-list {
    background-color: #edf1f7;

    ul {
        margin: 0;
    }
}


.loading {
    color: blue;
}

.success {
    color: green;
}

.error {
    color: red;
}